.title{background-color: lightseagreen;width: 100%;}
h1{margin-left: 40%;}
.back{background-color: white;width: 800px;height: 700px;margin-left: 17%;}
.move{margin-left: 50%;}
.input{margin-left: 0%;}
.input2{margin-left: 0%; size: 20px;}
.input3{margin-left: 2%;}	
.move2{margin-left: 15%;}
.move3{margin-left: 8.5%;}
.move4{margin-left: 22%;}
.shift{margin-left: 0%;}
.shift2{margin-left: 17%;}
.move2{margin-left: 69%;}
div{padding: 10px 10px 10px 10px;}
.green{background-color: darkgreen;}
.red{background-color: darkred;}
.blue{background-color: blue;}
.big{height: 40px;}